version: '3.8'

services:
  prometheus:
    image: prometheuscontainer
    container_name: prometheus
    extra_hosts:
      - "host.docker.internal:host-gateway"

    networks:
      - monitoring
    ports:
      - "9090:9090"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"

networks:
  monitoring:
    driver: bridge
